.content-calendar-container {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  overflow-y: auto;
}

.content-calendar-layout {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 650px 1fr;
  gap: 2rem;
  height: calc(100% - 5rem);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .content-calendar-layout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .content-calendar-container {
    padding: 1rem;
  }
}
